@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  nav, .no-print, button, input, select {
    display: none !important;
  }
  body {
    background: white;
  }
  #printable-area {
    width: 8.5in !important;
    height: 11in !important;
    margin: 0 !important;
    padding: 1in !important;
    box-shadow: none !important;
  }
}